:root{
    --font-A-black: "Archivo-Black";
    --font-L-black: "Lato-Black";
    --font-L-bold: "Lato-Bold";
    --font-L-regular: "Lato-Regular";
    --font-L-light: "Lato-Light";
    --font-R-light: "Roboto-Light";
    --font-R-medium: "Roboto-Medium";
    --font-R-regular: "Roboto-Regular";
    --font-R-thin: "Roboto-Thin";
    --font-P-regular: "Poppins-Regular";
    --color-white: #fff;
    --color-orange: #FF8923;
    --color-blue: #3D37F1;
    --color-gray: #4B647E;

}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--font-L-regular);
    background-color: var(--color-white);
    color: #534D4D;
}

/* 

Copmponent

*/

a{
    text-decoration: none;
}
input,
button{
    border: none;
    outline: none;
}

/* 

Modifier

*/

.service--first{
    background-color: #FBBA77;
}
.service--second{
    background-color: #41EAE3;
}
.service--third{
    background-color: #69529F;
}
.service--fourth{
    background-color: #4386D2;
}
.service--fifth{
    background-color: #A5A2F6;
}
.service--sixth{
    background-color: #FF8088;
}
.success-box__number--blue{
    background-color: #AF94FD;
}
.success-box__number--pink{
    background-color: #FF95A5;
}
.success-box__number--orange{
    background-color: #FBC9A4;
}
.workflow-content__number--1{
    background-color: #3D37F1;
}
.workflow-content__number--2{
    background-color: #9997DF;
}
.workflow-content__number--3{
    background-color: #FFBA3F;
}
.workflow-content__number--4{
    background-color: #E66E6E;
}
.workflow-content__number--5{
    background-color: #66659F;
}
.workflow-content__number--6{
    background-color: #F17637;
}
.workflow-content__number--7{
    background-color: #37F1BE;
}
.workflow-content__number--8{
    background-color: #F137E5;
}
.workflow-content__number--9{
    background-color: #F13D37;
}

/* 

Helper Class

*/

.btn-wave{
    width: 18rem;
    height: 4.5rem;
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 2rem;
}
.btn-wave__icon{
    width: 2rem;
    height: 2rem;
}
.btn-wave__text{
    font-family: var(--font-P-regular);
    color: var(--color-white);
}

/* 

Header

*/

.header__shape{
    width: 75%;
    height: 45%;
}
.header__img{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 90rem;
    height: 21rem;
}
.header{
    position: relative;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title{
    font-size: 2.2rem;
    cursor: pointer;
}
.header-title__1{
    font-family: var(--font-L-bold);
    color: var(--color-blue);
}
.header-title__2{
    font-family: var(--font-L-light);
    color: var(--color-gray);
}
.menu{
    display: flex;
    gap: 2rem;
}
.menu__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu__link{
    color: var(--color-white);
    transition: all 200ms ease-in;
}
/* Button Header */
.btn{
    font-family: var(--font-L-bold);
    background-color: var(--color-orange);
    color: var(--color-white) !important ;
    width: 12rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}
.nav-list__item:first-child{
    margin-left: 0;
}
.nav-list__item:last-child{
    margin-right: 0;
}

/* 

Hamburger Menu

*/

.hamburger-menu{
    display: none;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #3D37F1;
    width: 5rem;
    height:5rem;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
}

.hamburger-menu__top,
.hamburger-menu__middle,
.hamburger-menu__bottom{
    border-radius: 3rem;
    width: 3rem;
    height: .4rem;
    background-color: #fff;
    transition: all 200ms ease-in;
}
.hamburger-menu--open .hamburger-menu__middle{
    display: none;
}
.hamburger-menu--open .hamburger-menu__top,
.hamburger-menu__bottom{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.hamburger-menu--open .hamburger-menu__top{
    transform: rotate(45deg);
}
.hamburger-menu--open .hamburger-menu__bottom{
    transform: rotate(-45deg);
}

/* 

Main

*/

.main{
    
}

/* 

Home Section

*/

.home{
    margin-top: 18rem;
}
.home__title{
    font-family: var(--font-L-bold);
    font-size: 4rem;
    max-width: 38rem;
}
.home__caption{
    font-family: var(--font-R-regular);
    margin-bottom: 3rem;
}
.home__img{
    width: 100%;
    height: 100%;
}

/* 

Services Section

*/

.services{
    padding: 6rem 0;
    margin-top: 6rem;
    background-color: #FBFCFD;
}
.services__wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services__link{
    display: inline-block;
    color: var(--color-blue);
    font-family: var(--font-L-bold);
    font-size: 1.8rem;
}
.services__title{
    font-size: 3rem;
    margin: .5rem 0 2rem 0;
}
.services__caption{
    font-family: var(--font-R-regular);
    max-width: 63rem;
    text-align: center;
    margin-bottom: 4rem;
}
.service{
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8rem 2rem 4rem 2rem ;
    height: 100%;
    border-radius: 3rem;
}
.service__img{
    width: 7rem;
}
.service__title{font-size: 2rem;
}
.service__caption{
    max-width: 28rem;
    margin-bottom: 2rem;
}
.service__link{
    color: var(--color-white);
    background-color: transparent;
    border-radius: 4rem;
    border: 1px solid var(--color-white);
    padding: .5rem 2rem;
    transition: all 200ms ease-in;
}
.service__link:hover{
    background-color: var(--color-white);
    color: #4B647E;
}

/* 

About Section

*/

.about{
    padding: 6rem 0;
    margin-top: 6rem;
}
.center{
    align-items: center;
}
.about__wrapper-1{
    max-width: 65rem;
    max-height: 43rem;
}
.about__img{
    width: 100%;
    height: 100%;
}
.about__wrapper-2{

}
.about__title{
    font-family: var(--font-L-bold);
    font-size: 1.8rem;
}
.about__text{
    font-family: var(--font-R-regular);
}
.about-video{
    display: flex;
    align-items: center;
    gap: 10rem;
}
.about-video__pause{
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.about-video__play{
    width: 40%;
    height: 40%;
}
.about-video__info{
    font-family: var(--font-R-thin);
    color: #686868;
    position: relative;
}
.about-video__info::before{
    content: "";
    position: absolute;
    bottom: 1rem;
    left: -7rem;
    width: 5rem;
    height: 0.3rem;
    background-color: #686868;
    border-color: #707070;
}

/* 

Portfolio Section

*/

.portfolio{
    margin-top: 6rem;
    padding: 6rem 0;
    background-color: #F8F8F8;
}
.portfolio__wrapper{
    /* display: flex; */
}
.portfolio__wrapper-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.portfolio__title{
    font-family: var(--font-L-bold);
    font-size: 3rem;
}
.portfolio__caption{
    font-family: var(--font-R-light);
}
.portfolio__link{
    font-family: var(--font-R-medium);
    color: #969CA2;
    display: block;
}
.portfolio__link--active{
    color: var(--color-blue);
    position: relative;
}
.portfolio__link--active::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-blue);
    width: 14rem;
    height: 0.2rem;
    border-radius: 2rem;
}

/* 

Portfolio Section

*/

.success{
    padding: 6rem 0;
    margin-top: 6rem;
    text-align: center;
}
.success__title{
    font-size: 3rem;
    font-family: var(--font-L-bold);
}
.success__caption{
    font-family: var(--font-R-light);
    margin-bottom: 5rem;
}
.success__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
.success-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 2rem rgba(197,195,249,15%);
    width:35rem;
    height:35rem;
    border-radius: 3rem;
}
.success-box__number{
    font-family: var(--font-L-black);
    font-size: 2.8rem;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    height: 14rem;
    border-radius: 3rem;
    box-shadow: 0 0 4rem rgba(197,195,249,15%)
}
.success-box__text{
    font-family: var(--font-L-bold);
    font-size: 1.4rem;
    color: #4B647E;
    margin-top: 3rem;
}

/* 

Comment Section

*/

.comment{
    margin-top: 6rem;
    padding: 6rem 0;
    background-color: #0C0F32;
    color: var(--color-white);
}
.comment-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comment-top__title{
    font-family: var(--font-L-bold);
    font-size: 3rem;
}
.comment-top__caption,
.comment-top__text,
.comment-top__career,
.comment-bottom__subtitle,
.comment-bottom__title{
    font-family: var(--font-R-regular);
}
.comment-img{
    position: relative;
    margin-top: 10rem;
    margin-bottom: 3rem;
}
.comment-img__pic{
    width: 12rem;
    height: 12rem;
}
.comment-img__circle{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: var(--color-orange);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-top__text{
    max-width: 46rem;
    text-align: center;
}
.comment-top__name{
    font-family: var(--font-R-medium);
    font-size: 2rem;
    color: #8F8BFF;
    margin-top: 2rem;
}
.comment-top__career{

}
.comment-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 10rem;
    position: relative;
}
.comment-bottom::before{
    content: "";
    position: absolute;
    top: -5rem;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 97rem;
    height: 0.1rem;
    background-color: var(--color-white);
}
.comment-bottom__left{

}
.comment-bottom__subtitle{

}
.comment-bottom__title{
    font-size: 3rem;
    max-width: 42rem;
    margin-top: 1rem;
}
.comment-bottom__right{

}

/* 

Ability Section

*/

.ability{
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-color: #F8F8F8;
}
.ability-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    max-width: 37rem;
    height: 34rem;
    border-radius: 2rem;
}

.ability-box--blue{
    background: linear-gradient(rgba(19,27,124,100%) , rgba(19,27,124,80%)), url(../images/design-jpg.jpg);
}
.ability-box--orange{
    background: linear-gradient(rgba(243,111,33,100%) , rgba(243,111,33,80%)), url(../images/sketch.jpg.jpg);
}
.ability-box--purple{
    background: linear-gradient(rgba(165,162,246,100%) , rgba(165,162,246,80%)), url(../images/testing-jpg.jpg);
}
.ability-box--blue,
.ability-box--orange,
.ability-box--purple{
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.ability-box__icon{

}
.ability-box__title{
    font-family: var(--font-R-regular);
    font-size: 3rem;
    margin: 1rem 0;
}
.ability-box__txt{
    font-family: var(--font-R-light);
    font-size: 2rem;
    text-align: center;
    max-width: 15rem;
}

/* 

Workflow Section

*/

.workflow{
    padding-top: 6rem;
}
.workflow__left{
}
.workflow__img{
    width: 100%;
}
.workflow__right{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.workflow-top{

}
.workflow-top__title{
    font-family: var(--font-L-bold);
    font-size: 2rem;
}
.workflow-top__caption{
    max-width: 42rem;
}
.workflow-top__caption,
.workflow-content__title,
.workflow-content__txt{
    font-family: var(--font-R-regular);
}
.workflow-bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.workflow-content{
    display: flex;
    flex-basis: 25rem;
    gap: 2rem;
}
.workflow-content__number{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.workflow-content__matter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.workflow-content__title{
    font-size: 1.8rem;
}
.workflow-content__txt{
    max-width: 16rem;
}

/* 

Blog Section

*/

.blog{
    padding-top: 6rem;
    background-color: #FBFCFD;
}
.blog__header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 6rem;
}
.blog__title{
    font-family: var(--font-L-regular);
    font-size: 3rem;
}
.blog__caption{
    font-family: var(--font-R-regular);
    max-width: 47rem;
    
}
.blog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FBFCFD;
    box-shadow: 0 0 2rem rgba(197,195,249,15%);
}
.blog-content__cover-img{
width: 100%;
}
.blog-content__img{
   width: 100%;
   height: 26rem;
}
.blog-content__title{
    font-family: var(--font-L-bold);
    max-width: 32rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
}
.blog-content__caption{
    font-family: var(--font-R-regular);
    padding: 0rem 3rem;
    font-size: 1.4rem;
}
.blog-content__icon{
    margin: 2rem 0 4rem 3rem;
    cursor: pointer;
}

/* 

Symbol Section

*/

.symbol{
    padding: 2rem 0; 
}
.symbol__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.symbol-cover{
    flex-basis: 16rem;
}
.symbol-cover__img{
    width: 100%;
}

/* 

Footer

*/
.footer{
    padding-top: 6rem;
    margin-bottom: 1rem;
    background-color: #FBFCFD;
}
.footer__cover{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-box{

}
.footer-box__caption{
    color: #747474;
    font-family: var(--font-R-regular);
    font-size: 1.5rem;
    max-width: 27rem;
    margin: 2rem 0;
}
.footer__icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__icon{
    background-color: #0A315A;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footer__svg{

}
.about-list,
.community-list,
.contact-list{
    color: #747474;
    font-family: var(--font-R-regular);
    font-size: 2rem;
}
.about-list__item{

}
.about-list__link,
.community-list__link,
.contact-list__link{
    font-family: var(--font-R-regular);
    color: #4B647E;
    font-size: 1.8rem;
}
.community-list{

}
.community-list__item{

}
.community-list__link{

}
.contact-list{

}
.contact-list__item{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contact-list__svg{
    width: 1.5rem;
    height: 1.5rem;
}
.contact-list__link{

}
.footer__copy-right{
    display: inline-block;
    margin-top: 6rem;
    color: #969CA2;
    font-family: var(--font-R-regular);
    font-size: 1.4rem;
}