@font-face {
    font-family: "Archivo-Black" ;
    src: url(../fonts/Archivo/Archivo-Black.ttf) format(opentype);
}

@font-face {
    font-family: "Lato-Black" ;
    src: url(../fonts/Lato/Lato-Black.ttf) format(opentype);
}

@font-face {
    font-family: "Lato-Bold" ;
    src: url(../fonts/Lato/Lato-Bold.ttf) format(opentype);
}

@font-face {
    font-family: "Lato-Regular" ;
    src: url(../fonts/Lato/Lato-Regular.ttf) format(opentype);
}

@font-face {
    font-family: "Lato-Light" ;
    src: url(../fonts/Lato/Lato-Light.ttf) format(opentype);
}

@font-face {
    font-family: "Roboto-Light" ;
    src: url(../fonts/Roboto/Roboto-Light.ttf) format(opentype);
}

@font-face {
    font-family: "Roboto-Medium" ;
    src: url(../fonts/Roboto/Roboto-Medium.ttf) format(opentype);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format(opentype);
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(../fonts/Roboto/Roboto-Thin.ttf) format(opentype);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format(opentype);
}